$cl_pref: "file-tree-diagram";

.#{$cl_pref}-icon {
	font-family: consolas, monospace;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@import "folder-icons-48-mono";
@import "folder-icons-48";
@import "typed-icons-48-mono";
@import "typed-icons-48";

.#{$cl_pref} {
	margin: 10px 5px;
	padding: 10px 5px;
	white-space: pre;
	font-family: consolas, monospace;
	font-style: italic;
	.#{$cl_pref}-ch-list {
		// overflow: hidden;
		transition: height .2s linear;
	}
	.#{$cl_pref}__header {
		.#{$cl_pref}-fold-switcher,
		.#{$cl_pref}-f-s-cap {
			font-style: normal;
			color: #999;
		}
		.#{$cl_pref}-fold-switcher {
			cursor: pointer;
			// vertical-align: middle;
			overflow: hidden;
			svg {
				path {
					transition: transform .2s linear;
				}
			}
		}
	}
	.#{$cl_pref}__branch {
		color: #999;
	}
	.#{$cl_pref}__comment {
		color: #999;
		font-weight: normal;
		font-style: normal;
	}
}