body {
	margin: 0px 100px 500px 100px;
}
body .header {
	position: sticky;
	z-index: 10;
	top: 0;
	background: inherit;
	padding: 20px;
	border-bottom: 1px solid #999;
	margin-bottom: 50px;
	text-align: center;
}
body .header .links {
	display: flex; 
	justify-content: space-around;
}
body .header .links a {
	color: #999;
}